/* сброс стилей браузера */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.2;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 1.4em;
    list-style: square;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* конец кода сброса стилей браузера */

* {
    box-sizing: border-box;
}

header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header_wrapper {
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 0 auto 0 auto;
}

.header_wrapper > div {
    display: flex;
}

.top_line {
    gap: 1.5em;
    align-items: center;
}

.top_line > div {
    display: flex;
}

.logo {
    padding: 8px 0;
}

.search {
    display: flex;
    gap: 0.5em;
    flex: 1;
}

.search > * {
    padding: 8px 16px;
    height: 52px;
}

.search_bar {
    flex: 1;
    border: none;
    border-radius: 18px;
    background-color: #F6F7FB;
    font-size: 1em;
}

.catalog_btn {
    display: flex;
    gap: 0.5em;
    align-items: center;
    border-radius: 18px;
    background-color: #F6F7FB;
    fill: rgb(80, 103, 135);
}

.catalog_btn > span {
    font-size: 1.2em;
}

.links {
    gap: 0.5em;
}

.links > a {
    width: 75px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(170, 172, 187);
}

.links > a > svg {
    width: 28px;
    height: 28px;
    fill: rgb(170, 172, 187);
}

.pages {
    display: flex;
    gap: 0.5em;
}

.pages > a {
    padding: 0 8px;
    color: rgb(170, 172, 187);
    font-size: 1.2em;
}

.location {
    margin: 0 0 0 auto;
    display: flex;
    color: rgb(170, 172, 187);
    white-space: nowrap;
}

.content_wrapper {
    margin: 24px 0 0 0;
    padding: 16px;
}

footer {
    margin: 0 81px;
    padding: 24px 15px 64px 15px;
}

.footer_information {
    display: flex;
}

.footer_information article {
    min-width: 375px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 8px 20px;
}

.footer_article {
    padding: 0 15px;
}

.footer_main_info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 15px;

}

.footer_phone_number {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.footer_social_info {
    display: flex;
    padding: 8px 0;
    gap: 0.6em;
}
.footer_social_info > a, .footer_info_chat > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    color: #fff;
    background: #4494ff; 
    font-size: 1.2em;
    width: 36px;
    height: 37.7px;
    padding: 6px;
}

.footer_info_chat {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    gap:0.7em;
}

.footer_app_stores {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    max-width: 212px;
}

.copyright {
    padding: 64px 0 24px 0;
    color: rgb(148, 150, 170);
}

.copyright > a {
    color: rgb(148, 150, 170);
}
